Checks: '
    *,
    -abseil-*,
    -altera-*,
    -cert-dcl37-c,
    -cert-dcl21-cpp,
    -cert-dcl50-cpp,
    -cert-dcl51-cpp,
    -cert-dcl58-cpp,
    -cert-err58-cpp,
    -cert-err33-c,
    -llvm-header-guard,
    -llvm-include-order,
    -llvm-namespace-comment,
    -llvmlibc-*,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-multiple-inheritance,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -fuchsia-trailing-return,
    -google-readability-namespace-comments,
    -google-build-using-namespace,
    -google-readability-todo,
    -google-runtime-int,
    -modernize-use-trailing-return-type,
    -misc-include-cleaner,
    -portability-avoid-pragma-once,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-redundant-member-init,
    -*-magic-numbers,
    -readability-static-accessed-through-instance,
    -*-braces-around-statements,
    -*-named-parameter,
    -*-uppercase-literal-suffix,
    -misc-no-recursion,
    -llvm-prefer-static-over-anonymous-namespace,
    -clang-analyzer-cplusplus.NewDeleteLeaks,
    -clang-analyzer-core.StackAddressEscape,
    -clang-analyzer-optin.core.EnumCastOutOfRange,
    -cppcoreguidelines-pro-type-union-access,
    -bugprone-throwing-static-initialization, 
    -bugprone-unchecked-optional-access,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access
'

CheckOptions:
    - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
      value: true
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: true
    - key: readability-function-cognitive-complexity.IgnoreMacros
      value: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
